<div class="row">
  <div class="col-md-6">
    <h3><a href="http://swcarpentry.github.io/shell-novice">Unix</a> & <a href="http://swcarpentry.github.io/git-novice">Git</a> - 17th Oct</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Welcome & Icebreaker</td> </tr>
      <tr> <td>09:30</td>  <td>Introducing the Shell</td> </tr>
      <tr> <td></td>  <td>Navigating Files and Directories</td> </tr>
      <tr> <td></td>  <td>Working With Files and Directories</td> </tr>
      <tr> <td></td>  <td>Pipes and Filters</td> </tr>
      <tr> <td>11:00</td>  <td>Morning Break</td> </tr>
      <tr> <td>11:20</td>  <td>Loops</td> </tr>
      <tr> <td></td>  <td>Shell Scripts</td> </tr>
      <tr> <td></td>  <td>Finding Things</td> </tr>
      <tr> <td>12:50</td>  <td>Wrap-Up</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3><a href="http://swcarpentry.github.io/shell-novice">Unix</a> & <a href="http://swcarpentry.github.io/git-novice">Git</a> - 18th Oct</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Welcome</td> </tr>
      <tr> <td>09:10</td>  <td>Automated Version Control</td> </tr>
      <tr> <td>09:15</td>  <td>Setting Up Git</td> </tr>
      <tr> <td>09:25</td>  <td>Creating a Repository</td> </tr>
      <tr> <td>09:35</td>  <td>Tracking Changes</td> </tr>
      <tr> <td>10:00</td>  <td>Exploring History</td> </tr>
      <tr> <td>10:20</td>  <td>Ignoring Things</td> </tr>
      <tr> <td>10:25</td>  <td>Morning Break</td> </tr>
      <tr> <td>10:45</td>  <td>Remotes in GitHub</td> </tr>
      <tr> <td>11:30</td>  <td>Collaborating</td> </tr>
      <tr> <td></td>  <td>Conflicts</td> </tr>
      <tr> <td></td>  <td>Open Science</td> </tr>
      <tr> <td></td>  <td>Licensing</td> </tr>
      <tr> <td></td>  <td>Citation</td> </tr>
      <tr> <td></td>  <td>Hosting</td> </tr>
      <tr> <td>12:50</td>  <td>Wrap-Up</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3><a href="http://swcarpentry.github.io/python-novice-inflammation">Intro to Python</a> Day 1 - 31st Oct</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Welcome & Icebreaker</td> </tr>
      <tr> <td>09:15</td>  <td>Python Fundamentals</td> </tr>
      <tr> <td>09:40</td>  <td>Analyzing Patient Data</td> </tr>
      <tr> <td>10:30</td>  <td>Morning Break</td> </tr>
      <tr> <td>10:50</td>  <td>Visualizing Tabular Data</td> </tr>
      <tr> <td>11:30</td>  <td>Storing Multiple Values in Lists</td> </tr>
      <tr> <td>12:00</td>  <td>Repeating Actions with Loops</td> </tr>
      <tr> <td>12:25</td>  <td>Analyzing Data from Multiple Files</td> </tr>
      <tr> <td>12:50</td>  <td>Wrap-Up</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3><a href="http://swcarpentry.github.io/python-novice-inflammation">Intro to Python</a> Day 2 - 1st Nov</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Welcome</td> </tr>
      <tr> <td>09:10</td>  <td>Making Choices</td> </tr>
      <tr> <td>09:45</td>  <td>Creating Functions</td> </tr>
      <tr> <td>11:00</td>  <td>Morning Break</td> </tr>
      <tr> <td>11:20</td>  <td>Errors and Exceptions</td> </tr>
      <tr> <td>11:35</td>  <td>Defensive Programming</td> </tr>
      <tr> <td>11:55</td>  <td>Debugging</td> </tr>
      <tr> <td>12:20</td>  <td>Command-Line Programs</td> </tr>
      <tr> <td>12:50</td>  <td>Wrap-Up</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
